{% extends "base.html" %}
{% block title %}Upload File{% endblock %}

{% block content %}
<div class="mt-4">
    <h1 class="text-center" style="color: #3B2F2F;">Upload Your Book</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
            <label for="file" style="color: #3B2F2F;">Select a File:</label>
            <input type="file" name="file" class="form-control">
        </div>
        <div class="form-group">
            <label for="description" style="color: #3B2F2F;">Description:</label>
            <textarea name="description" maxlength="100" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="genre" style="color: #3B2F2F;">Genre:</label>
            <select name="genre" class="form-control">
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="subgenre" style="color: #3B2F2F;">Subgenre:</label>
            <select name="subgenre" class="form-control">
                {% for subgenre in subgenres[genres[0]] %}
                <option value="{{ subgenre }}">{{ subgenre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>
</div>
{% endblock %}
